.delay-body {
  margin: 0;
  height: 100%;
  
  background: #FFE3E4;  /* fallback for old browsers */
  background: linear-gradient(180deg, #f3aef3, #000e45);
  background-size: 400% 400%;

  -webkit-animation: backound-animation 14s ease infinite;
  -moz-animation: backound-animation 14s ease infinite;
  -o-animation: backound-animation 14s ease infinite;
  animation: backound-animation 14s ease infinite;
}

@-webkit-keyframes backound-animation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-moz-keyframes backound-animation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@-o-keyframes backound-animation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}
@keyframes backound-animation {
    0%{background-position:0% 84%}
    50%{background-position:100% 17%}
    100%{background-position:0% 84%}
}

.home-body {
  padding-top: 40px;
  text-align: center;
  font-family: monaco, monospace;
  background-size: cover;
}

h2 {
  font-size: 20px;
}

li {
  list-style: none;
}

button {
  margin-left: 10px;
  margin-bottom: 3px;
  border: none;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
}

#eventChart {
  margin-top: 50px;
}

#delayTimeInput {
  margin-top: 5px;
  width: 40px;
}